/* ================
    General Styles
   ================ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  display: grid;
  grid-template-columns: minmax(0.5em, 4em) 1fr 1fr minmax(0.5em, 4em);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

/* ============
    Typography
   ============ */

h1,
h2 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

.section__title,
.section__text {
  text-align: center;
}

@media screen and (min-width: 375px) {
  .section__title,
  .section__text {
    text-align: left;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.stat__number {
  font-size: 2.5rem;
  font-weight: 700;
}

footer {
  padding-bottom: 1em;
  background-color: #00252e;
  color: white;
}

/* =======
    Links
   ======= */

/* Make attribution links inline-block so they can rotate on hover. */

.attribution__a {
  display: inline-block;
}

.attribution__a:link {
  color: lightgoldenrodyellow;
  text-decoration: none;
  transition: transform 250ms;
}

.attribution__a:visited {
  color: orange;
}

/* ========
    Layout
   ======== */

/* In mobile-first CSS, first and
   second columns become "one"
   column. */

.first-col,
.second-col,
.col-2 {
  grid-column: 2 / span 2;
}

.col-2 {
  justify-self: center;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .first-col {
    grid-column: 2 / 3;
    margin-right: 1em;
  }

  .second-col {
    grid-column: 3 / 4;
    margin-left: 1em;
  }
}

.first-col + .second-col {
  margin-left: 3em;
}

.grid-start {
  grid-column: 1 / 3;
  justify-self: start;
}

.grid-end {
  grid-column: 3 / 5;
  justify-self: end;
}

.logo--top {
  margin: 0 1em;
}

.intro,
.section__text,
.footer__text {
  max-width: 500px;
}

.stat,
.intro {
  text-align: center;
}

.stat__number {
  margin: 0;
}

.stat__text {
  margin: 0 0 2em 0;
}

.stat__img {
  margin: 0 auto;
}

.svg-bg {
  background-color: #f6fbff;
}

.svg-bg,
.no-bg,
footer {
  display: grid;
  grid-template-columns: minmax(0.5em, 4em) 1fr 1fr minmax(0.5em, 4em);
  padding: 5em 0;
}

/* Class created to fix pixel rounding weirdness
  between SVGs and surrounding divs/sections. If
  rendered SVG came to 72.3 height it would leave
  a white line between the SVG and the adjacent
  div. Bad scene. Making the SVG 1.05 times higher
  and then making overflow visible fixed that.
  The scale in the X direction needed to be 1
  to prevent side-scrolling.
  */
.pixel-fix {
  transform: scale(1, 1.05);
  overflow: visible;
}

.contact {
  margin-top: 2em;
}

@media screen and (min-width: 375px) {
  .contact {
    order: 1;
  }

  .newsletter {
    order: 2;
  }

  .social {
    order: 3;
  }

  .attribution {
    order: 4;
  }
}

.footer__text {
  max-width: 300px;
}

.footer__subtitle {
  text-align: left;
}

.full-span {
  grid-column: 1 / span 4;
}

.footer__icon {
  display: inline-block;
  margin-right: 0.5em;
}

.fab + .fab {
  margin-left: 0.75em;
}

/* ======
    Form 
   ====== */

.subscription-form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.email-input {
  width: 100%;
  min-width: 25px;
  max-width: 300px;
  padding: 0.5em;
}

.btn--form-submit {
  align-self: flex-end;
}

/* =========
    Buttons
   ========= */

.btn {
  margin: 1em 0;
  padding: 0.75em 2.5em;
  font-size: 0.875rem;
  box-shadow: 0 2px 5px 2px rgba(150, 150, 150, 0.3);
}

.btn--top {
  margin: 0 1em;
}

.btn--curved {
  border-radius: 50px;
}

.btn--rounded,
.email-input--rounded {
  border-radius: 4px;
}

.btn--light {
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  background-color: white;
}

.btn--accent {
  color: white;
  background-color: hsl(322, 100%, 66%);
  border: none;
}

@media screen and (min-width: 375px) {
  .newsletter {
    justify-self: end;
  }
  .subscription-form {
    flex-direction: row;
  }

  .btn--form-submit {
    margin: 0 0.75em;
  }
}

/* Grouped all active states for mobile
   devices */

.btn--light:active {
  color: hsl(321, 100%, 78%);
  border-color: hsl(321, 100%, 78%);
}

.btn--accent:active {
  background-color: hsl(321, 100%, 78%);
}

.attribution__a:active {
  transform: rotate(7deg);
  color: navajowhite;
}

.fab:active {
  color: lightskyblue;
}

@media screen and (pointer: fine) {
  .btn--light:hover,
  .btn--light:focus {
    color: hsl(321, 100%, 78%);
    border-color: hsl(321, 100%, 78%);
  }

  .btn--accent:hover,
  .btn--accent:focus {
    background-color: hsl(321, 100%, 78%);
  }

  .attribution__a:hover,
  .attribution__a:focus {
    transform: rotate(7deg);
    color: navajowhite;
  }

  .fab:hover,
  .fab:focus {
    color: lightskyblue;
  }
}
